.container1{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.positionheader{
    position: absolute;
}
.menu{
    border: 1px solid;
    /* width: 100px;
    height: 500px; */
    width: 25%;
    height: 100vh;   

}
.caja{
    border: 1px solid;
    width: 70%;
    height: 200px;
    margin-left: 500px;
    position: relative;
    margin-top: 80px;
}
.caja2{
    border: 1px solid;
    width: 70%;
    height: 200px;
    position: absolute;
    margin-top: 80px;
    margin-left: 1000px;
}
.caja3{
    border: 1px solid;
    width: 70%;
    height: 200px;
    position: absolute;
    margin-top: 360px;
    margin-left: 1000px;
}
.img{
    width: 100%;
    height: 200px;
}
.body12 {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: black;
    
    margin: 0;
  background-color: darkgray;
}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color:#030303;
    text-align: center;
    margin-bottom: 20px;
}
.content h2, a {
    color: rgba(255, 255, 255, .8);
    margin: 10px 0;
}

#login {
    width: 100%;
    padding: 50px 30px;
   background-color: dimgray;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #0a0a0a;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #a8a7a7;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#070707;
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #ffffff;
    
    margin-top: 10px;
}
#login button a{
    color: black;
}

#login button:hover {
    background-color:rgb(0, 0, 0);
}
#login button:hover a{
    color:#ffffff;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: black;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 3px;
}

.inferior a:hover {
    color:black;
}



.container_cards{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f1f5;
}

.card{
    text-align: center;
    margin: 20px;
    width: 200px;
    height: 300px;
    background: var(--i);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: .5s;
}



.card:hover .content {
    opacity: 1;
}



/* *********************************************************menu david************************************/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
body{
    /* background: url(https://www.xtrafondos.com/wallpapers/montanas-con-nieve-en-el-bosque-3934.jpg); */
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    top: 0;left: 0;
}



/*Menù lateral*/
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background-color: cornsilk;
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    /* opacity: 0;
    visibility: hidden; */
}
#btn-menu:checked ~ .container-menu{
    /* opacity: 1;
    visibility: visible; */
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background-color: black;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    /* transform: translateX(-100%); */
}
#btn-menu:checked ~ .container-menu .cont-menu{
    /* transform: translateX(0%); */
}
.cont-menu nav{
    /* transform: translateY(15%); */
    padding-top: 45px;
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: bisque;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    /* background: #1f1f1f; */
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
/*Fin de Menù lateral*/

.cerrarSecion1{
    margin-top: 70%;

}
.titulo1{
    color: bisque;
    text-align: center;
    margin-bottom: 15px;
}
